.main {
  width: 100%;
  height: 600px;
}

.list-box {
  width: 18%;
  height: 100%;
  float: left;
  border: 1px solid gray;
}

h2 {
  border-bottom: 1px solid;
}

.list {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 90%;
}

.editor {
  float: left;
  width: 80%;
  height: 100%;
}

.control-bar {
  width: 100%;
  height: 15%;
  border-bottom: 1px solid gray;
}

.control-bar > tr, .control-bar > table {
  width: 100%;
  height: 100%;
}

tr > td {
  cursor: pointer;
  border: 1px solid black;
  background-color: darkslategray;
  width: 33%;
  height: 100%;
  text-align: center;
}

.container {
  width: 100%;
  height: 85%;
}

.create-control, .update-control, .delete-control {
  width: 100%;
  height: 100%;
  background-color: lightslategray;
}

.create-control > input {
  width: 97%;
  height: 20px;
  margin: 1%;
}

.create-control > textarea {
  width: 97%;
  height: 80%;
  margin: 0 1%;
}

.create-control > button {
  width: 10%;
  height: 30px;
  float: right;
  margin: 1%;
}

.update-control > input {
  width: 97%;
  height: 20px;
  margin: 1%;
}

.update-control > textarea {
  width: 97%;
  height: 80%;
  margin: 0 1%;
}

.update-control > button {
  width: 10%;
  height: 30px;
  float: right;
  margin: 1%;
}

.delete-control > input {
  width: 97%;
  height: 20px;
  margin: 1%;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.update-list-button {
  width: 80px;
  height: 35px;
  background-color: #d4452f;
  cursor: pointer;
  position: fixed;
  margin-left: 10px;
  margin-top: -70px;
}

ul > li {
  padding-left: 20px;
  margin-bottom: 3px;
  font-size: 20px;
}

.delete-button, .update-button, .create-button {
  cursor: pointer;
  margin-right: 20px;
  font-size: 16px;
  float: right;
  width: 60px;
  height: 35px;
}

.red {
  background-color: #d4452f;
}