:host {
  display: flex;
  flex: 1;
  background-color: gainsboro;
}

:host > div {
  display: flex;
  flex: 1;
  margin: 8px;
  border: 2px dotted lightseagreen;
  border-radius: 10px;
}

.over {
  background-color: #da862066;
}

.info {
  color: lightseagreen;
  margin: auto;
}